@page
@model Automation_Test_Data_App.Pages.PolicyServicing.IndexModel
@{
}
<h1>Policy Servicing</h1>
<div class="container">
  <div class="row">
    <div class="col text-center">
       <div class="mt-2 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add a life Assured</h5>
        <p class="card-text"> Lives may be addded to the policy this will increase the premium. </p>
        <a href="/PolicyServicing/Addalife" class="btn btn-primary">Add life Assured</a>
      </div>
    </div>
  </div>

    <div class="col text-center">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"> Policy Cancelation</h5>
        <p class="card-text">Cancelation of policy with the given policy number. </p>
        <a href="/PolicyServicing/Cancelpolicy/" class="btn btn-primary">Policy Cancelation</a>
      </div>
    </div>
  </div>

  <div class="col text-center">
  <div class="mt-2 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Policy Reinstatement</h5>
        <p class="card-text"> Re-Instate a cancelled/lapsed policy. </p>
        <a href="/PolicyServicing/Reinstate/" class="btn btn-primary">Reinstate Policy</a>
      </div>
    </div>
  </div>

  <div class="col text-center">
  <div class="mt-2 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add RolePlayer</h5>
        <p class="card-text"> Add role player and benefits starting on the 1st of the current month. </p>
        <a href="/PolicyServicing/AddRolePlayer/" class="btn btn-primary">Add Role Player</a>
      </div>
    </div>
  </div>

   <div class="col text-center">
  <div class="mt-2 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Collection Method  Change </h5>
        <p class="card-text"> Change the  collection method of a policy </p>
        <a href="/PolicyServicing/CollectionMethodData/" class="btn btn-primary">Change collection method</a>
      </div>
    </div>
  </div>

     <div class="col text-center">
  <div class="mt-2 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add  PostDated RolePlayer </h5>
        <p class="card-text"> Add role player and benefits starting on the 1st of the Next month. </p>
        <a href="/PolicyServicing/AddRolePostDated/" class="btn btn-primary">Add PostDated RolePlayer</a>
      </div>
    </div>
  </div>

  <div class="col text-center">
  <div class="mt-2 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Change Life Assured Details</h5>
        <p class="card-text">Change the person's details on any life assured policy. </p>
        <a href="/PolicyServicing/ChangeLifeData/" class="btn btn-primary">Change Life Assured</a>
      </div>
    </div>
  </div>

  <div class="col text-center">
  <div class="mt-2 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Downgrade/Upgrade Policy</h5>
        <p class="card-text">Change the person's details on any life assured policy. </p>
        <a href="/PolicyServicing/ComponentDowngradeUpgrade/" class="btn btn-primary">Downgrade/Upgrade</a>
      </div>
    </div>
  </div>
