@page
@model Automation_Test_Data_App.Pages.PolicyServicing.IndexModel
@{
}
<h1>Policy Servicing</h1>
<div class="container">
  <div class="row">
    <div class="col text-center">
       <div class="mt-2 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add a life</h5>
        <p class="card-text"> Admin users can create , update and delete users of the system </p>
        <a href="/PolicyServicing/addalife/" class="btn btn-primary">Add a life</a>
      </div>
    </div>
  </div>

   <div class="mt-2 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add Beneficiry</h5>
        <p class="card-text"> Admin users can create , update and delete users of the system </p>
        <a href="/PolicyServicing/addbeneficairy/" class="btn btn-primary">Add Beneficiary</a>
      </div>
    </div>
  </div>

  div class="mt-2 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add Beneficiry</h5>
        <p class="card-text"> Admin users can create , update and delete users of the system </p>
        <a href="/PolicyServicing/addbeneficairy/" class="btn btn-primary">Add Beneficiary</a>
      </div>
    </div>
  </div>

  div class="mt-2 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add Beneficiry</h5>
        <p class="card-text"> Admin users can create , update and delete users of the system </p>
        <a href="/PolicyServicing/addbeneficairy/" class="btn btn-primary">Add Beneficiary</a>
      </div>
    </div>
  </div>

  div class="mt-2 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add Beneficiry</h5>
        <p class="card-text"> Admin users can create , update and delete users of the system </p>
        <a href="/PolicyServicing/addbeneficairy/" class="btn btn-primary">Add Beneficiary</a>
      </div>
    </div>
  </div>

  div class="mt-2 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add Beneficiry</h5>
        <p class="card-text"> Admin users can create , update and delete users of the system </p>
        <a href="/PolicyServicing/addbeneficairy/" class="btn btn-primary">Add Beneficiary</a>
      </div>
    </div>
  </div>

  div class="mt-2 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add Beneficiry</h5>
        <p class="card-text"> Admin users can create , update and delete users of the system </p>
        <a href="/PolicyServicing/addbeneficairy/" class="btn btn-primary">Add Beneficiary</a>
      </div>
    </div>
  </div>

  div class="mt-2 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add Beneficiry</h5>
        <p class="card-text"> Admin users can create , update and delete users of the system </p>
        <a href="/PolicyServicing/addbeneficairy/" class="btn btn-primary">Add Beneficiary</a>
      </div>
    </div>
  </div>
  div class="mt-2 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add Beneficiry</h5>
        <p class="card-text"> Admin users can create , update and delete users of the system </p>
        <a href="/PolicyServicing/addbeneficairy/" class="btn btn-primary">Add Beneficiary</a>
      </div>
    </div>
  </div>

  div class="mt-2 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add Beneficiry</h5>
        <p class="card-text"> Admin users can create , update and delete users of the system </p>
        <a href="/PolicyServicing/addbeneficairy/" class="btn btn-primary">Add Beneficiary</a>
      </div>
    </div>
  </div>

  div class="mt-2 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add Beneficiry</h5>
        <p class="card-text"> Admin users can create , update and delete users of the system </p>
        <a href="/PolicyServicing/addbeneficairy/" class="btn btn-primary">Add Beneficiary</a>
      </div>
    </div>
  </div>

  div class="mt-2 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add Beneficiry</h5>
        <p class="card-text"> Admin users can create , update and delete users of the system </p>
        <a href="/PolicyServicing/addbeneficairy/" class="btn btn-primary">Add Beneficiary</a>
      </div>
    </div>
  </div>

  div class="mt-2 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add Beneficiry</h5>
        <p class="card-text"> Admin users can create , update and delete users of the system </p>
        <a href="/PolicyServicing/addbeneficairy/" class="btn btn-primary">Add Beneficiary</a>
      </div>
    </div>
  </div>

  






    </div>
  </div>
</div>