@page
@model Automation_Test_Data_App.Pages.PolicyServicing.IndexModel
@{
}
<h1>Policy Servicing</h1>
<div class="container">
  <div class="row">
    <div class="col text-center">
       <div class="mt-2 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add a life</h5>
        <p class="card-text"> Lives may be addded to the policy this will increase the premium. </p>
        <a href="/PolicyServicing/addalife/" class="btn btn-primary">Add a life</a>
      </div>
    </div>
  </div>

    <div class="col text-center">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Cancelpolicy</h5>
        <p class="card-text">Cancelation of policy with the given policy number. </p>
        <a href="/PolicyServicing/Cancelpolicy/" class="btn btn-primary">Policy Cancelation</a>
      </div>
    </div>
  </div>

  <div class="col text-center">
  <div class="mt-2 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Reinstatement</h5>
        <p class="card-text"> Re-Instate a cancelled/lapsed policy. </p>
        <a href="/PolicyServicing/Reinstate/" class="btn btn-primary">Reinstate</a>
      </div>
    </div>
  </div>

  <div class="col text-center">
  <div class="mt-2 col-sm-12">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Add RolePlayer</h5>
        <p class="card-text"> Add role player and benefits starting on the 1st of the current month. </p>
        <a href="/PolicyServicing/AddRolePlayer/" class="btn btn-primary">Add Role Player</a>
      </div>
    </div>
  </div>

  
