@page
@model Automation_Test_Data_App.Pages.HomeModel
@{
}
<h4>Select Component</h4>


<div class="row">
  <div class="mt-2 col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Policy Servicing</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/PolicyServicing/" class="btn btn-primary">Start adding test data </a>
      </div>
    </div>
  </div>
  <div class="mt-2  col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">New Business</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/NewBusiness/" class="btn btn-primary">Start adding test data </a>
      </div>
    </div>
  </div>
    <div class="mt-2  col-sm-6">
    <div class="card">
      <div class="card-body">Claims</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="/Claims/" class="btn btn-primary">Start adding test data </a>
      </div>
    </div>
  </div>



@if(Model._isAdminUser){
	
   <div class="mt-2 col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Manage Users</h5>
        <p class="card-text"> Admin users can create , update and delete users of the system </p>
        <a href="/admin/users/" class="btn btn-primary">Start managing users </a>
      </div>
    </div>
  </div>
 }
</div>