@page
@model Automation_Test_Data_App.Pages.PolicyServicing.Cancelpolicy.IndexModel
@{
}

<br>
<h2>Cancel Policy Component</h2>
<a class='btn btn-primary btn-sm' href='Cancelpolicy/Create'>Cancel Policy/a>
<table class="table">
	<thead>
		<tr>
			<th>ID<th/>
			<th>Date<th/>
			<th>Component<th/>
			<th>Cover_Amount<th/>
			<th>Action<th/>



	</thead>
	<tbody>
		@foreach (var item in Model.ListCancelpolicy)
		{

			<tr>
				<td>@item.id</td>
				<td></td>
				<td>@item.Date</td>
				<td></td>
				<td>@item.Component</td>
				<td></td>
				<td>@item.Cover_Amount</td>

				<td>
					<a class="btn btn-primary btn-sm" href="/Cancelpolicy/Edit?id=@item.id">Edit</a>
					<a class="btn btn-danger btn-sm" href="/PolicyServicing/Cancelpolicy/Delete?id=@item.id" title="Delete" class="delete" onclick="return confirm('Are you sure you want to delete this item')">Delete</a>

				</td>
				
				
			</tr>
		}

	</tbody>
</table>
