@page
@model Automation_Test_Data_App.Pages.AddRolePostDated.IndexModel
@{
}
<br>
<h2>Add Post Dated Roleplayer </h2>
<a class='btn btn-primary btn-sm' href='AddRolePostDated/Create'>New Life Assured</a>
