@page
@model Automation_Test_Data_App.Pages.Admin.Users.IndexModel
@{
}
<br>
<h2>Users </h2>
<a class='btn btn-primary btn-sm' href='/admin/users/adduser'>New User</a>

<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var item in Model.UserList)
		{

			<tr>
				<th scope="row">@item.id</th>
				 <td >@item.email</td>
				 <td>@item.role</td>
				<td>

					<a class="btn btn-primary btn-sm" href="/Admin/Users/Edit?id=@item.id">Edit</a>
					<a class="btn btn-danger btn-sm" href="/Admin/Users/Delete?id=@item.id" title="Delete" class="delete" onclick="return confirm('Are you sure you want to delete this item')">Delete</a>


				</td>
				

			</tr>
		}

   
   
  
  </tbody>
  </table>