@page
@model Automation_Test_Data_App.Pages.PolicyServicing.Addalife.IndexModel
@{
}

<br>
<h2>Additional Life Assured </h2>
<a class='btn btn-primary btn-sm' href='Addalife/Create'>New Life Assured</a>
