@page
@model Automation_Test_Data_App.Pages.PolicyServicing.ChangelifeData.IndexModel
@{
}

<br>
<h2> Change life Assured Data</h2>
<a class='btn btn-primary btn-sm' href='ChangelifeData/Create'>New Life Assured </a>
