@page
@model Automation_Test_Data_App.Pages.PolicyServicing.AffordabilityCheck.IndexModel
@{
}

<br>
<h2>Affordability Check</h2>
<a class='btn btn-primary btn-sm' href='Downgrade/Create'>Affordability Check Component</a>
