@page
@model Automation_Test_Data_App.Pages.PolicyServicing.Downgrade.IndexModel
@{
}

<br>
<h2>Downgrade</h2>
<a class='btn btn-primary btn-sm' href='Downgrade/Create'>Downgrade Component</a>
<table class="table">
	<thead>
		<tr>
			<th>ID<th/>
			<th>Date<th/>
			<th>Component<th/>
			<th>Cover_Amount<th/>
			<th>Action<th/>



	</thead>
	<tbody>
		@foreach (var item in Model.ListDowngradeComponent)
		{

			<tr>
				<td>@item.id</td>
				<td></td>
				<td>@item.Date</td>
				<td></td>
				<td>@item.Component</td>
				<td></td>
				<td>@item.Cover_Amount</td>
				<td>
					<a class="btn btn-primary btn-sm" href="/Upgrade/Edit?id=@item.id">Edit</a>
					<a class="btn btn-danger btn-sm" href="/Upgrade/Delete?id=@item.id">Delete</a>

				</td>
				
				
			</tr>
		}

	</tbody>
</table>
